NEXT_PUBLIC_SUPABASE_URL="https://ihocawxzfissoxemguba.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_BanS01mzAfTouqmKkB26gA_UgpXJffA"
NEXT_PUBLIC_ADMIN_URL=http://localhost:8081
NEXT_PUBLIC_SITE_URL=http://localhost:3000
